/* ------------------------------------------------- Welcome ----------------------------------------------------------- */
.welcome {
    height: 700px;
}
  
.welcome_text {
    height: 75%;
}

@media only screen and (max-width: 600px) {
    .welcome_image {
      margin-top: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .welcome {
      height: 900px;
    }
}